html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

h1{
    color: blue;
}

.vert{
    background-color: green;
}

.gris{
    background-color: rgb(216, 212, 212);
}
/* **********Navigation************** */
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
}

nav{
    text-align: center;
}

nav a:hover {
    background-color: rgb(148, 144, 144);
}

/************** Bloc évenementiel page accueil *******************/
.event{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.event article {
    width: calc( 100% / 3 - 1rem);
    background-color: #dddddd;
    padding: 1rem;
    margin: 0.5rem;
}