<form method="post" action="{{ path('renseignements_delete', {'id': renseignement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ renseignement.id) }}">
    <button class="btn">Delete</button>
</form>
